@import url("reset.css");

#recipes form {
  margin-bottom: 2rem;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.recipe {
  display: grid;
  gap: 1rem;
}

.recipe-img {
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  height: 10ch;
  margin: -1rem;
}

.recipe-info {
  display: grid;
  gap: 1rem;
};

.recipe-detail {
  display: grid;
  gap: 1rem;
}

.recipe ul,
.recipe ol {
  padding-left: 1rem;
  margin: 0;
}
